/* TODO: 
    * probably fix mobile formatting
    * make neater in general
*/

@font-face {
    font-family: "Herculanum";
    src: url("./../fonts/Herculanum.woff2") format("woff2"), 
         url("./../fonts/Herculanum.woff") format("woff");
}
h1 {
    font-family: Herculanum, georgia;
    text-align: center;
}
body {
    background: url("./../images/map_avatar.jpg") no-repeat center center fixed; /* change image if you like */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
header {
    background-color: #FFF;
    padding: 2px;
    opacity: 0.85;
}
footer {
    font-family: Herculanum, georgia;
    color: #FFF;
    padding: 2px;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
#navbar {
    font-size: 1.3rem;
    font-family: Herculanum;
    background-color: hsl(0, 0%, 73%); 
    display: flex; 
    justify-content: space-evenly;
    list-style: none;
}