h1 {
        font-family: herculanum, georgia;
        text-align: center;
    }
    body {
        background: linear-gradient(101deg, #3381AF, #1D7D30, #C03613, #FCFC85);
    }
    header {
        background-color: #FFF;
        opacity: 0.5;
        padding: 2px;
    }
    footer {
        font-family: herculanum, georgia;
        margin-top: 50px;
        background-color: #FFF;
        opacity: 0.5;
        padding: 2px;
    }
