h1 {
        font-family: herculanum, georgia;
        text-align: center;
    }
    body {
        background: url("../images/map_avatar.jpg") no-repeat center center fixed; /* change image to whatever else */
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        opacity: 0.5;
    }
    header {
        background-color: #FFF;
        padding: 2px;
    }
    footer {
        font-family: herculanum, georgia;
        margin-top: 100px;
        background-color: #FFF;
        opacity: 0.5;
        padding: 2px;
    }
    nav {
        font-size: 14px;
        font-family: herculanum;
        text-align: center;
    }
    div {
        width: 119px;
        float: left;
        background-color: white;
    }
